In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [8]:
data_dir = "./data/ICFES/Saber11/"
# Read and fix files
file_path = data_dir+"SB11_20171.txt"
N = 1
with open(file_path, mode='r', newline='\n') as f:
    head = [next(f) for x in range(N)]
print(head)

['\ufeffestu_tipodocumento¬estu_nacionalidad¬estu_genero¬estu_fechanacimiento¬periodo¬estu_consecutivo¬estu_estudiante¬estu_pais_reside¬estu_tieneetnia¬estu_etnia¬estu_limita_motriz¬estu_limita_invidente¬estu_limita_condicionespecial¬estu_limita_sordo¬estu_limita_sdown¬estu_limita_autismo¬estu_depto_reside¬estu_cod_reside_depto¬estu_mcpio_reside¬estu_cod_reside_mcpio¬fami_educacionpadre¬fami_educacionmadre¬fami_estratovivienda¬fami_personashogar¬fami_cuartoshogar¬fami_tieneinternet¬fami_tienecomputador¬fami_tienelavadora¬fami_tienehornomicroogas¬fami_tieneserviciotv¬fami_tieneautomovil¬fami_tienemotocicleta¬fami_tieneconsolavideojuegos¬fami_numlibros¬fami_comelechederivados¬fami_comecarnepescadohuevo¬fami_comecerealfrutoslegumbre¬fami_trabajolaborpadre¬fami_trabajolabormadre¬fami_situacioneconomica¬estu_dedicacionlecturadiaria¬estu_dedicacioninternet¬estu_horassemanatrabaja¬estu_tiporemuneracion¬cole_codigo_icfes¬cole_cod_dane_establecimiento¬cole_nombre_establecimiento¬cole_genero¬cole_naturaleza¬cole_calendario¬cole_bilingue¬cole_caracter¬cole_cod_dane_sede¬cole_nombre_sede¬cole_sede_principal¬cole_area_ubicacion¬cole_jornada¬cole_cod_mcpio_ubicacion¬cole_mcpio_ubicacion¬cole_cod_depto_ubicacion¬cole_depto_ubicacion¬estu_privado_libertad¬estu_cod_mcpio_presentacion¬estu_mcpio_presentacion¬estu_depto_presentacion¬estu_cod_depto_presentacion¬punt_lectura_critica¬percentil_lectura_critica¬desemp_lectura_critica¬punt_matematicas¬percentil_matematicas¬desemp_matematicas¬punt_c_naturales¬percentil_c_naturales¬desemp_c_naturales¬punt_sociales_ciudadanas¬percentil_sociales_ciudadanas¬desemp_sociales_ciudadanas¬punt_ingles¬percentil_ingles¬desemp_ingles¬punt_global¬percentil_global¬estu_inse_individual¬estu_nse_individual¬estu_nse_establecimiento\r\n']

In [13]:
# Use utf-8-sig for the BOM
p20171 = pd.read_table(file_path, sep='¬', engine="python", encoding='utf-8-sig')

In [14]:
p20171.head()

,estu_tipodocumento,estu_nacionalidad,estu_genero,estu_fechanacimiento,periodo,estu_consecutivo,estu_estudiante,estu_pais_reside,estu_tieneetnia,estu_etnia,...,percentil_sociales_ciudadanas,desemp_sociales_ciudadanas,punt_ingles,percentil_ingles,desemp_ingles,punt_global,percentil_global,estu_inse_individual,estu_nse_individual,estu_nse_establecimiento
0,TI,COLOMBIA,M,14/01/2000,20171,SB11201710045132,ESTUDIANTE,COLOMBIA,No,NaN,...,39,2,40,18,A-,276,45,NaN,NaN,3.0
1,CC,COLOMBIA,M,17/12/1997,20171,SB11201710044573,ESTUDIANTE,COLOMBIA,No,NaN,...,86,4,77,75,B1,342,80,75.512390,NSE4,4.0
2,TI,COLOMBIA,F,04/02/1999,20171,SB11201710012705,ESTUDIANTE,COLOMBIA,No,NaN,...,62,3,57,46,A1,299,56,62.321609,NSE3,3.0
3,TI,COLOMBIA,F,01/11/2000,20171,SB11201710057781,ESTUDIANTE,COLOMBIA,No,NaN,...,40,2,50,35,A1,260,37,70.748795,NSE4,4.0
4,TI,COLOMBIA,F,22/05/2000,20171,SB11201710024179,ESTUDIANTE,COLOMBIA,No,NaN,...,41,2,59,49,A2,259,36,50.188438,NSE2,3.0

In [15]:
p20171.to_csv(data_dir+"SB11_20171.csv", index=False, encoding="utf-8")

In [9]:
# Concat the two periods
icfes = pd.concat([p20171, p20172], ignore_index=True, join='outer')

icfes.describe()

,COLE_CODIGO_ICFES,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_DEPTO_UBICACION,COLE_COD_MCPIO_UBICACION,DESEMP_C_NATURALES,DESEMP_LECTURA_CRITICA,DESEMP_MATEMATICAS,DESEMP_SOCIALES_CIUDADANAS,ESTU_COD_DEPTO_PRESENTACION,...,PERCENTIL_LECTURA_CRITICA,PERCENTIL_MATEMATICAS,PERCENTIL_SOCIALES_CIUDADANAS,PERIODO,PUNT_C_NATURALES,PUNT_GLOBAL,PUNT_INGLES,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_SOCIALES_CIUDADANAS
count,559253.000000,5.592530e+05,5.592530e+05,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000,...,559253.000000,559253.000000,559253.000000,559253.000000,559253.00000,559253.000000,559253.000000,559253.000000,559253.000000,559253.000000
mean,140244.643415,2.078890e+11,2.083958e+11,32.822204,33054.508553,2.228462,2.692901,2.421358,2.169700,32.757552,...,50.477698,50.489648,50.503897,20171.976767,51.48688,256.611432,49.992833,53.399356,50.347531,50.497778
std,170163.577928,9.541512e+10,9.608404e+10,26.625493,26649.109448,0.736757,0.712931,0.764392,0.794125,26.678268,...,28.894852,28.886292,28.863344,0.150642,10.20125,49.340166,11.993842,9.889415,12.155660,11.263646
min,18.000000,1.050010e+11,1.050010e+11,5.000000,5001.000000,1.000000,1.000000,1.000000,1.000000,5.000000,...,1.000000,1.000000,1.000000,20171.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36632.000000,1.178670e+11,1.178730e+11,11.000000,11001.000000,2.000000,2.000000,2.000000,2.000000,11.000000,...,25.000000,25.000000,26.000000,20172.000000,44.00000,219.000000,41.000000,46.000000,41.000000,42.000000
50%,97790.000000,1.760010e+11,1.760010e+11,20.000000,20550.000000,2.000000,3.000000,2.000000,2.000000,20.000000,...,51.000000,51.000000,51.000000,20172.000000,51.00000,254.000000,48.000000,53.000000,50.000000,50.000000
75%,154922.000000,3.080010e+11,3.080010e+11,54.000000,54344.000000,3.000000,3.000000,3.000000,3.000000,54.000000,...,75.000000,76.000000,75.000000,20172.000000,59.00000,291.000000,57.000000,60.000000,59.000000,58.000000
max,711671.000000,8.548740e+11,8.548740e+11,99.000000,99773.000000,4.000000,4.000000,4.000000,4.000000,99.000000,...,100.000000,100.000000,100.000000,20172.000000,100.00000,476.000000,100.000000,100.000000,100.000000,100.000000