In [1]:
import pandas as pd
import sqlalchemy

import get_data

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://imdb:imdb@localhost:3306/imdb')

In [3]:
name_basics = get_data.get_name_basics()
name_basics.head()

File ./imdb/name.basics.tsv.gz already exists
176729080 176729080
Warning, No downloading, the file ./imdb/name.basics.tsv.gz has the required size.

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0059956,tt0049189,tt0054452,tt0057345"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,soundtrack","tt0078723,tt0080455,tt0077975,tt0072562"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0060827"

In [18]:
# nconst to int
name_basics['nconst'] = name_basics['nconst'].str.replace('nm', '').astype(int)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [34]:
name_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,1,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,2,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,3,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0059956,tt0049189,tt0054452,tt0057345"
3,4,John Belushi,1949.0,1982.0,"actor,writer,soundtrack","tt0078723,tt0080455,tt0077975,tt0072562"
4,5,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0060827"

In [37]:
connection = engine.connect()
d = sqlalchemy.delete(sqlalchemy.table('name_basics'))
connection.execute(d)
connection.close()

name_basics.to_sql('name_basics', con=engine, if_exists='append', index=False, chunksize=1024*2)

In [ ]:



# In[5]:


title_akas = get_title_akas()
title_akas.head()


# In[23]:


title_basics = get_title_basics()
title_basics.head()


# In[25]:


title_crew = get_title_crew()
title_crew.head()


# In[27]:


title_episode = get_title_episode()
title_episode.head()


# In[28]:


title_principals = get_title_principals()
title_principals.head()


# In[ ]:


title_ratings = get_title_ratings()
title_ratings.head()