# title_basics

In [11]:
title_basics = get_data.get_title_basics()
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,NaN,4.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,NaN,NaN,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1.0,"Comedy,Short"

In [12]:
def tconst_transform(df):
    return df.str.replace('tt', '').astype(int)

title_basics_pre = title_basics.copy()
title_basics_pre['tconst'] = tconst_transform(title_basics_pre['tconst'])
title_basics_pre.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,1,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,NaN,4.0,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,0,1892.0,NaN,NaN,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1.0,"Comedy,Short"

In [13]:
%%timeit -n 1 -r 1

save_dataFrame(title_basics_pre, 'title_basics')

Table title_basics deleted
3min 51s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

# title_akas

In [4]:
title_akas = get_data.get_title_akas()
title_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
1,tt0000001,2,Карменсита,RU,NaN,NaN,NaN,0.0
2,tt0000001,3,Carmencita,US,NaN,NaN,NaN,0.0
3,tt0000001,4,Carmencita,NaN,NaN,original,NaN,1.0
4,tt0000002,1,Le clown et ses chiens,NaN,NaN,original,NaN,1.0

In [8]:
title_akas_pre = title_akas.copy()
title_akas_pre['titleId'] = tconst_transform(title_akas_pre['titleId'])
title_akas_pre.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,1,1,Carmencita - spanyol tánc,HU,NaN,imdbDisplay,NaN,0.0
1,1,2,Карменсита,RU,NaN,NaN,NaN,0.0
2,1,3,Carmencita,US,NaN,NaN,NaN,0.0
3,1,4,Carmencita,NaN,NaN,original,NaN,1.0
4,2,1,Le clown et ses chiens,NaN,NaN,original,NaN,1.0

In [16]:
%%timeit -n 1 -r 1

save_dataFrame(title_akas_pre, 'title_akas')

Table title_akas deleted

IntegrityError: (pymysql.err.IntegrityError) (1216, 'Cannot add or update a child row: a foreign key constraint fails') [SQL: 'INSERT INTO title_akas (`titleId`, ordering, title, region, language, types, attributes, `isOriginalTitle`) VALUES (%(titleId)s, %(ordering)s, %(title)s, %(region)s, %(language)s, %(types)s, %(attributes)s, %(isOriginalTitle)s)'] [parameters: ({'titleId': 20927, 'ordering': 3, 'title': 'The Golf Specialist', 'region': None, 'language': None, 'types': 'original', 'attributes': None, 'isOriginalTitle': 1.0}, {'titleId': 20927, 'ordering': 4, 'title': 'O mestre do Golf', 'region': 'BR', 'language': None, 'types': 'imdbDisplay', 'attributes': None, 'isOriginalTitle': 0.0}, {'titleId': 20927, 'ordering': 5, 'title': 'Golftaituri', 'region': 'FI', 'language': None, 'types': 'imdbDisplay', 'attributes': None, 'isOriginalTitle': 0.0}, {'titleId': 20928, 'ordering': 1, 'title': 'Good Intentions', 'region': None, 'language': None, 'types': 'original', 'attributes': None, 'isOriginalTitle': 1.0}, {'titleId': 20928, 'ordering': 2, 'title': 'Good Intentions', 'region': 'US', 'language': None, 'types': None, 'attributes': None, 'isOriginalTitle': 0.0}, {'titleId': 20928, 'ordering': 3, 'title': 'La bande des huit reflets', 'region': 'FR', 'language': None, 'types': 'imdbDisplay', 'attributes': None, 'isOriginalTitle': 0.0}, {'titleId': 20928, 'ordering': 4, 'title': 'Suprema Renúncia', 'region': 'BR', 'language': None, 'types': 'imdbDisplay', 'attributes': None, 'isOriginalTitle': 0.0}, {'titleId': 20929, 'ordering': 1, 'title': 'Hip Hip Happy', 'region': 'US', 'language': None, 'types': 'working', 'attributes': None, 'isOriginalTitle': 0.0}  ... displaying 10 of 1024 total bound parameter sets ...  {'titleId': 21128, 'ordering': 4, 'title': 'Der Prozeß Baring', 'region': 'BE', 'language': 'de', 'types': 'imdbDisplay', 'attributes': None, 'isOriginalTitle': 0.0}, {'titleId': 21128, 'ordering': 5, 'title': 'Der Prozeß Baring', 'region': 'AT', 'language': None, 'types': 'imdbDisplay', 'attributes': None, 'isOriginalTitle': 0.0})] (Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
# In[23]:


title_basics = get_title_basics()
title_basics.head()


# In[25]:


title_crew = get_title_crew()
title_crew.head()


# In[27]:


title_episode = get_title_episode()
title_episode.head()


# In[28]:


title_principals = get_title_principals()
title_principals.head()


# In[ ]:


title_ratings = get_title_ratings()
title_ratings.head()