In [1]:
import pandas as pd
import sqlalchemy

import get_data

In [23]:
engine = sqlalchemy.create_engine('mysql+pymysql://imdb:imdb@localhost:3306/imdb')

# name_basics

In [15]:
name_basics = get_data.get_name_basics()
name_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,nm0000003,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0059956,tt0049189,tt0054452,tt0057345"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,soundtrack","tt0078723,tt0080455,tt0077975,tt0072562"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0060827"

In [16]:
name_basics_pre = name_basics.copy()
# nconst to int
name_basics_pre['nconst'] = name_basics['nconst'].str.replace('nm', '').astype(int)

In [17]:
name_basics_pre.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,1,Fred Astaire,1899.0,1987.0,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,2,Lauren Bacall,1924.0,2014.0,"actress,soundtrack","tt0037382,tt0038355,tt0117057,tt0071877"
2,3,Brigitte Bardot,1934.0,NaN,"actress,soundtrack,producer","tt0059956,tt0049189,tt0054452,tt0057345"
3,4,John Belushi,1949.0,1982.0,"actor,writer,soundtrack","tt0078723,tt0080455,tt0077975,tt0072562"
4,5,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0083922,tt0050976,tt0060827"

In [40]:
def save_dataFrame(df, table_name, delete_before=True):

    if delete_before:
        # Delete table before adding new rows
        connection = engine.connect()
        stmt = sqlalchemy.delete(sqlalchemy.table(table_name))
        connection.execute(stmt)
        connection.close()
        print('Table {} deleted'.format(table_name))

    df.to_sql(table_name, con=engine, if_exists='append', index=False, chunksize=1024*2)

In [34]:
%%timeit -n 1 -r 1
# save_dataFrame(name_basics_pre.head(), 'name_basics')

379 ns ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

# title_basics

In [10]:
title_basics = get_data.get_title_basics()
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,NaN,NaN,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1,"Comedy,Short"

In [11]:
title_basics_pre = title_basics.copy()
title_basics_pre['tconst'] = title_basics_pre['tconst'].str.replace('tt', '').astype(int)

title_basics_pre.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,1,short,Carmencita,Carmencita,0,1894.0,NaN,1,"Documentary,Short"
1,2,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5,"Animation,Short"
2,3,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,NaN,4,"Animation,Comedy,Romance"
3,4,short,Un bon bock,Un bon bock,0,1892.0,NaN,NaN,"Animation,Short"
4,5,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1,"Comedy,Short"

In [39]:
%%timeit -n 1 -r 1

save_dataFrame(title_basics_pre, 'title_basics')

Table title_basics deleted
3min 57s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [ ]:



# In[5]:


title_akas = get_title_akas()
title_akas.head()


# In[23]:


title_basics = get_title_basics()
title_basics.head()


# In[25]:


title_crew = get_title_crew()
title_crew.head()


# In[27]:


title_episode = get_title_episode()
title_episode.head()


# In[28]:


title_principals = get_title_principals()
title_principals.head()


# In[ ]:


title_ratings = get_title_ratings()
title_ratings.head()